<!DOCTYPE html>

<%- include('../partials/head'); %>

<body>
    
<%- include('../partials/header', {pagina: 'sobre'}); %>

<main>
    <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi sou Dimas Alves Pereira estudante de Javascript e NodeJS</p>
    </div>
</main>

<%- include('../partials/footer'); %>

</body>

</html>